

/* phone */
@media (max-width: 600px){
    .InvitationGenerator{
        display: flex;
        height: 1280px;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
    }

    .Inbackimg {
        position: absolute;
        top: 100px;
        right: -4%;
        width: 110%;
        height: 80%;
        background-image: url("../../../assets/inviteCodes1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -1 ;
        opacity: 0.5; 
    }

    .InvitationGeneratorTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 50px;
    }

    .InvitationGeneratorTitle h1{
        color: white;
        font-size: 26px;
        font-weight: 350;
    }

    .InvitationGeneratorTitle h2{
        color: white;
        font-size: 23px;
        font-weight: 200;
        margin-top: -4%;
    }

    .InvitationGeneratorTitlecopyinvitationcodes{
        display: flex ;
        flex-direction: row;
        font-size: 6px;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin-top: 12%;
        border-radius: 5px;
        height: 60px;
        background: linear-gradient(to right, #08BBFF, #2A76FF);
        border: none;
        color: white;
        outline: none;
    }

    .InvitationGeneratorTitlecopyinvitationcodes:active,
    .InvitationGeneratorTitlecopyinvitationcodes:focus {
        outline: none;
    }

    .copyinvitationcodesimg{
        width: 40px;
        margin-left: 8%;
    }

    .generateQRcode{
        width: 30px;
    }

    .invitationOKimg{
        width: 35px;
        transform: rotate(-10deg);
        margin-left: 8%;
    }

    .InvitationGeneratorTitlegenerateQRcode{
        display: flex ;
        flex-direction: row;
        font-size: 5px;
        width: 80%;
        justify-content: space-around;
        align-items: center;
        margin-top: 8%;
        border-radius: 5px;
        height: 60px;
        padding: 6px;
        background: linear-gradient(to right, #08BBFF, #2A76FF);
        border: none;
        color: white;  
    }

    .invitationOKimg2{
        width: 35px;
        transform: rotate(-10deg);
    }

    .InvitationGeneratorTitlegenerateQRcode:active,
    .InvitationGeneratorTitlegenerateQRcode:focus {
        outline: none;
    }

    .InvitationGeneratorQRblock{
        opacity: 0;
    }

    .computerstyle{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .computerstyle1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 601px){
    .InvitationGenerator{
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 180px;
    }

    .Inbackimg{
        position: absolute;
        display: none;
    }

    .InvitationGeneratorTitle{
        color: white;
    }

    .computerstyle{
        display: flex;
        flex-direction: row;
        gap: 100px;
    }

    .computerstyle1{
        display: flex;
        flex-direction: column;
    }

    .InvitationGeneratorTitlegenerateQRcode{
        display: flex ;
        flex-direction: row;
        font-size: 7px;
        width: 100%;
        min-width: 360px;
        justify-content: space-around;
        align-items: center;
        margin-top: 8%;
        border-radius: 5px;
        height: 60px;
        padding: 6px;
        background: linear-gradient(to right, #08BBFF, #2A76FF);
        border: none;
        color: white;  
        min-width: 300px;
    }

    .InvitationGeneratorTitlecopyinvitationcodes{
        display: flex ;
        flex-direction: row;
        font-size: 8px;
        min-width: 300px;
        width: 100%;
        min-width: 360px;
        justify-content: space-around;
        align-items: center;
        margin-top: 12%;
        border-radius: 5px;
        height: 60px;
        background: linear-gradient(to right, #08BBFF, #2A76FF);
        border: none;
        color: white;
        outline: none;
    }

    .copyinvitationcodesimg{
        width: 50px;
    }

    .invitationOKimg{
        width: 50px;
        transform: rotate(-10deg);
    }

    .invitationOKimg2{
        width: 50px;
        transform: rotate(-10deg); 
    }

    .generateQRcode{
        width: 36px;
    }

    .InvitationGeneratorQRblock{
        width: 100%;
        margin-top: 50px;
        opacity: 1;
    }
}

@media (601px < width < 836px){
    .computerstyle{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}