



@media (max-width: 600px){
    .QRcodeGenerator{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 80px;
        width: auto;
    }

    .QRContainer {
        width: 380px;
        border-radius: 20px;
        margin-top: 0px;
        text-align: center;
    }
    .QRContainer::-webkit-scrollbar {
        display: none;
    }

    .QROne{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #141414;
        border-radius: 25px;
        margin-top: 60px;
        height: 580px;
        padding: 20px;
        position: relative;
        overflow: hidden;
        box-shadow: 0 6px 6px 3px black;
    }

    .QROne p{
        color: white;
        padding-top: 25px;
        font-size: 15px;
    }

    .domaintypeblock{
        -webkit-tap-highlight-color: transparent;
        width: 80%;
        height: 70px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: linear-gradient(to right, #08BBFF, #2A76FF);
        border: none;
    }
    .domaintypeblock:focus{
        background: linear-gradient(to right, #873dee, #002aff) !important;
    }
    .domaintypeblock:active {
        background: linear-gradient(to right, #873dee, #002aff);
    }

    .domaintypeblock h1{
        font-size: 20px;
        color: white;
    }


    .iconBlcok{
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        align-items: center;
        justify-content: center;
        margin: 0;
        top: -15px;
    }

    .dvpnIconOnQR{
        width: 60px;
        height: 60px;
    }

    .iconBlcok h4{
        font-size: 21px;
        color: white;
        font-weight: 600;
        padding: 0;
        z-index: 10;
    }

    .wordblock h1{
        text-align: left;
        font-size: 14px;
        color: white;
        font-weight: 600;
        margin: 0;
        line-height: 1.2;
        width: 100%;
        
    }

    .wordblock h2{
        font-size: 14px;
        color: white;
        text-align: left;
        margin: 0;
        padding-top: 5px;
        line-height: 1.2;
    }

    .wordblock h3{
        font-size: 14px;
        margin-top: -5px;
        color: white;
        text-align: left;
        line-height: 1.2;
        padding-top: 5px;
        width: 100%;
        margin: 0;
    }

    .wordblock h5{
        font-size: 20px;
        margin: 0;
        font-weight: 900;
        color: white;
        margin-top: 5px;
        margin-right: 20px;
    }
    
    .wordblock{
        margin-left: 10px;
        margin-top: 45px;
        width: 100%;
        margin-bottom: 10px;
        z-index: 10;
    }

    .chinese h3{
        font-size: 20px!important;
        margin-top: 3px;
    }

    .chinese h2{
        font-size: 20px!important;
        margin-top: 3px;
    }

    .chinese h1{
        font-size: 20px!important;
    }

    .chinese h5{
        font-size: 27px!important;
        margin-top: 8px;
    }

    .QRglow{
        width: 620px;
        height: 360px;
        position: absolute;
        border-radius: 50%;
        z-index: 0;
        top: -120px;
        left: -300px;
        opacity: 0.25;
        filter: blur(80px);
    }

    .blueglow{
        background-color: #2B83C9;
    }

    .redglow{
        background-color: rgb(235, 147, 147);
    }

    .greenglow{
        background-color: rgb(202, 246, 135);
    }

    .purpleglow{
        background-color: rgb(122, 49, 196);
    }

    .yellowglow{
        background-color: rgb(240, 237, 165);
    }

    .whiteglow{
        background-color: white;
    }

    .qrbox{
        background-color: white;
        margin-bottom: 40px;
        padding: 20px;
        border-radius: 20px;
        z-index: 10;
    }

    .QRCodeCanvas{
        
    }
}