

/* phone */
@media (max-width: 600px){
    .eye-container {
        position: relative;
        top: 30%;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .eye {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        opacity: 0.8;
        filter: blur(1px);
        transform: scale(0);
        transition: transform 0.3s ease;
    }

    .left {
        margin-right: 60px;
    }

    .right {
        margin-left: 60px;
    }

}

@media (min-width: 601px){
    .eye{
        display: none;
    }

    .eye-container{
        width: 90%;
        height: 250px;
        background-color: white;
        border-radius: 20px;
    }
}