

/* phone */
@media (max-width: 600px){
    .loadbutton{
        width: 30px;
        height: 40px;
        position: absolute;
        top: 84%;
        border-radius: 50%;
        background-color: #39c5e0;
        filter: blur(0.3px);
        opacity: 0.7;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
        border: none;
        outline: none;
    }

    .loadbutton:focus,
    .loadbutton:active{
        border: none;
        outline: none;
    }

    .playvedio{
        width: 50px;
    }
}